body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: chocolate;
  background-color: lightblue;
}
li {
  font-size: 14px;
}
a {
  color: honeydew;
  
}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

img{
  text-align: center;
}